student-checklists/course-checklist.xml

<?xml version = "1.0" encoding "utf-8" ?>

<!-- courseList.dtd - a document type for a students check list that references
courseList.xml and subsequently math.xml and csc.xml -->

<!ELEMENT checklist (cscFresh, cscSoph, cscJunior, cscSenior, csc_elective, math, math_elective, science, libArts, english, free)>
<!ELEMENT standing (color1, color2, title, course+)>
<!ELEMENT csc_elective (color1, color2, course+)>
<!ELEMENT math_elective (color1, color2, course+)>
<!ELEMENT science_requirement (color1, color2, course+)>
<!ELEMENT libarts (color1, color2, course+)>
<!ELEMENT free (color1, color2, course+)>
<!ELEMENT course (title, grade, credits)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT grade (#PCDATA)>
<!ELEMENT credits (#PCDATA)>
<!ELEMENT color1 (#PCDATA)> 
<!ELEMENT color2 (#PCDATA)>


<!ATTLIST course isComplete CDATA #REQUIRED>
<!ATTLIST course id ID #REQUIRED>
<!ATTLIST standing id ID #REQUIRED>
<!ATTLIST csc_elective id ID #REQUIRED>
<!ATTLIST math_elective id ID #REQUIRED>
<!ATTLIST science_requirement id ID #REQUIRED>
<!ATTLIST libarts id ID #REQUIRED>
<!ATTLIST free id ID #REQUIRED>
<!-- attribute will be used like this: <course isComplete="no"> </course> --> 


<checklist>	
	
	<standing id="fresh">
	
		<color1>rgb(0, 153, 204)</color1>
		<color2>rgba(0, 153, 204, .25)</color>
		<title>Freshman</title>

		<course id ="csc110"isComplete="no">
			<title>CSC 110 - Survey of Computer Science</title>
			<grade></grade>
			<credits>1</credits>
		</course>

		<course id ="csc150" isComplete="no">
			<title>CSC 150 - Computer Science 1</title>
			<grade></grade>
			<credits>3</credits>
		</course>

		<course id ="csc250" isComplete="no">
			<title>CSC 250 - Computer Science 2</title>
			<grade></grade>
			<credits>4</credits>
		</course>

		<course id ="csc251" isComplete="no">
			<title>CSC 251 - Finite Structures</title>
			<grade></grade>
			<credits>4</credits>
		</course>

		<course id ="match123" isComplete="no">
			<title>Math 123 - Calculus 1</title>
			<grade></grade>
			<credits>4</credits>
		</course>
		
		<course id ="math125" isComplete="no">
			<title>Math 125 - Calculus 2</title>
			<grade></grade>
			<credits>4</credits>
		</course>
		
		<course id ="engl101 isComplete="no">
			<title>ENGL 101 - Composition I</title>
			<grade></grade>
			<credits>3</credits>
		</course>
			
	</standing>

	<standing id="soph">

		<color1>rgb(0, 153, 204)</color1>
		<color2>rgba(0, 153, 204, .25)</color>
		<title>Sophmore</title>
		
		<course id ="csc300" isComplete="no">
			<title>CSC 300 - Data Structures</title>
			<grade></grade>
			<credits>4</credits>
		</course>
		
		<course id ="csc314" isComplete="no">
			<title>CSC 314 - Assembly Language</title>
			<grade></grade>
			<credits>3</credits>
		</course>
		
		<course id ="math225" isComplete="no">
			<title>MATH 225 - Calculus 3</title>
			<grade></grade>
			<credits>4</credits>
		</course>
		
		<course id ="math315" isComplete="no">
			<title>MATH 315 - Linear Algebra</title>
			<grade></grade>
			<credits>3</credits>
		</course>
		
		<course id ="engl279" isComplete="no">
			<title>ENGL 279 - Technical Communication 1</title>
			<grade></grade>
			<credits>3</credits>
		</course>			

	</standing>
    <standing id="junior">
    
		<color1>rgb(0, 153, 204)</color1>
		<color2>rgba(0, 153, 204, .25)</color>
		<title>Junior</title>
		
		<course id ="csc317" isComplete="no">
			<title>CSC 317 - Computer Org & Arch</title>
			<grade></grade>
			<credits>3</credits>
		</course>
		
		<course id ="csc372" isComplete="no">
			<title>CSC 372 - Analysis of Algorithms</title>
			<grade></grade>
			<credits>3</credits>
		</course>
		
		<course id ="csc461" isComplete="no">
			<title>CSC 461 - Programming Languages</title>
			<grade></grade>
			<credits>3</credits>
		</course>
		
		<course id ="csc484" isComplete="no">
			<title>CSC 484 - Database Management</title>
			<grade></grade>
			<credits>3</credits>
		</course>
		
		<course id ="csc470" isComplete="no">
			<title>CSC 470 - Software Engineering</title>
			<grade></grade>
			<credits>3</credits>
		</course>
		
		<course id ="engl289" isComplete="no">
			<title>ENGL 289 - Technical Communcation 2</title>
			<grade></grade>
			<credits>3</credits>
		</course>
		
		<course id ="phys211" isComplete="no">
			<title>PHYS 211 - University Physics 1</title>
			<grade></grade>
			<credits>3</credits>
		</course>
			
	</standing>
	<standing id="senior">

		<color1>rgb(0, 153, 204)</color1>
		<color2>rgba(0, 153, 204, .25)</color>
		<title>Senior</title>
	
		<course id ="csc421" isComplete="no">
			<title>CSC 421 - Graphical User Interface </title>
			<grade></grade>
			<credits>3</credits>
		</course>
		
		<course id ="csc465" isComplete="no">
			<title>CSC 465 - Senior Design I</title>
			<grade></grade>
			<credits>2</credits>
		</course>
		
        <course id ="csc467" isComplete="no">
			<title>CSC 467 - Senior Design II</title>
			<grade></grade>
			<credits>2</credits>
		</course>
		
		<course id ="csc456" isComplete="no">
			<title>CSC 456 - Operating Systems</title>
			<grade></grade>
			<credits>4</credits>
		</course>
		
		<course id ="math381" isComplete="no">
			<title>MATH 381 - Intro. to Probability & Stats. </title>
			<grade></grade>
			<credits>3</credits>
		</course>
		
	</standing>
	<csc_elective id="cscelect">

		<color1>rgb(0, 153, 204)</color1>
		<color2>rgba(0, 153, 204, .25)</color>
		<title>CSC Electives</title>
	
		<course id ="upperlevcsc1" isComplete="no">
			<title>Upper Level CSC _elective</title>
			<grade></grade>
			<credits></credits>
		</course>
		
		<course id ="upperlevcsc2" isComplete="no">
			<title>Upper Level CSC _elective</title>
			<grade></grade>
			<credits></credits>
		</course>
		
		<course id ="upperlevcsc3" isComplete="no">
			<title>Upper Level CSC _elective</title>
			<grade></grade>
			<credits></credits>
		</course>
		
		<course id ="upperlevcsc4" isComplete="no">
			<title>Upper Level CSC _elective</title>
			<grade></grade>
			<credits></credits>
		</course>
		
	</csc_elective>
	<math_elective id="mathelect">

		<color1>rgb(0, 153, 204)</color1>
		<color2>rgba(0, 153, 204, .25)</color>
		<title>Math Electives</title>
	
		<course id ="mathelect" isComplete="no">
			<title>MATH _elective</title>
			<grade></grade>
			<credits></credits>
		</course>
		
	</math_elective>
	<science_requirement id="science">

		<color1>rgb(0, 153, 204)</color1>
		<color2>rgba(0, 153, 204, .25)</color>
		<title>Required Science</title>
        
		<course id ="scireq1" isComplete="no">
			<title>Science Requirement</title>
			<grade></grade>
			<credits></credits>
        </course>
        
        <course id ="scireq2" isComplete="no">
			<title>Science Requirement</title>
			<grade></grade>
			<credits></credits>
        </course>
        
        <course id ="scilab1" isComplete="no">
			<title>Science Lab</title>
			<grade></grade>
			<credits></credits>
        </course>
        
        <course id ="scilab2" isComplete="no">
			<title>Science Lab</title>
			<grade></grade>
			<credits></credits>
        </course>
        
            
	</science_requirement>
	<libarts id="libarts">

		<color1>rgb(0, 153, 204)</color1>
		<color2>rgba(0, 153, 204, .25)</color>
		<title>Arts & Humanities/Social Sciences</title>
    
		<course id ="socsci1" isComplete="no">
			<title>Social Sciences</title>
			<grade></grade>
			<credits></credits>
        </course>
        
        <course id ="socsci2" isComplete="no">
			<title>Social Sciences</title>
			<grade></grade>
			<credits></credits>
        </course>
        
        <course id ="arthum1" isComplete="no">
			<title>Arts & Humanities</title>
			<grade></grade>
			<credits></credits>
        </course>
        
        <course id ="arthum2" isComplete="no">
			<title>Arts & Humanities</title>
			<grade></grade>
			<credits></credits>
        </course>
        
        <course id ="arthumsoc" isComplete="no">
			<title>Arts & Humanities/Social Sciences</title>
			<grade></grade>
			<credits></credits>
        </course>
        
	<libarts>
	
	<free id="free">

		<color1>rgb(0, 153, 204)</color1>
		<color2>rgba(0, 153, 204, .25)</color>
		<title>Free Electives</title>
		<course id ="free" isComplete="no">
			<title></title>+
			<grade></grade>
			<credits>7</credits>
        </course>             
        
	</free>
    
</checklist>
-->